{% extends 'core/base.html' %} {% block title %}Welcome{% endblock %} {% block
content %} {% block content %}
<div class="container mt-6">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light rounded-xl p-4">
        <h2 class="mb-4 text-3xl text-center">New Arrivals</h2>

        <div class="row row-cols-1 row-cols-md-4 g-3">
          {% for item in items %}
          <div class="col">
            <a
              href="{% url 'item:detail' item.id %}"
              class="text-decoration-none text-dark"
            >
              <div class="card h-100 border-0 shadow">
                <img
                  src="{{ item.image.url }}"
                  class="card-img-top rounded-t-xl"
                  alt="{{ item.name }}"
                />
                <div class="card-body">
                  <h5 class="card-title text-2xl">{{ item.name }}</h5>
                  <p class="card-text text-muted">Price: ${{ item.price }}</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-6">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light rounded-xl p-4">
        <h2 class="mb-4 text-3xl text-center">Categories</h2>

        <div class="row row-cols-1 row-cols-md-4 g-3">
          {% for category in categories %}
          <div class="col">
            <a href="#" class="text-decoration-none text-dark">
              <div class="card bg-white rounded-b-xl shadow">
                <div class="card-body">
                  <h5 class="card-title text-2xl">{{ category.name }}</h5>
                  <p class="card-text text-muted">
                    {{ category.items.count }} items
                  </p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
