<!-- logout_confirmation.html -->
{% extends 'core/base.html' %} {% block title %}Logout Successful{% endblock %}
{% block content %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Logout Successful</h2>
        </div>
        <div class="card-body">
          <p class="lead text-center">
            Thank you for using our website. You have been successfully logged
            out.
          </p>
          <div class="text-center">
            <a href="{% url 'core:home' %}" class="btn btn-primary"
              >Return to Home</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
